*{
    /* border: 1px solid red */
    background-color: azure;
}
body {
  background-color: blanchedalmond;
  /* border: 1px solid red; */
}

h1{
    color: aquamarine;
}
h1:hover{
    color : blue

    cursor: pointer;
}
li{

}