* {
  /* border: 1px solid red */
  background-color: azure;
}
body {
  /* background-color: blanchedalmond; */
  /* border: 1px solid red; */
}

h1 {
  color: rgb(255, 127, 127);
}
h1:hover {
  /* color : blue */
  opacity: 0, 5;
  cursor: pointer;
}
li {
  list-style-type: none;
  color: blueviolet;
}

li:hover {
  font-weight: 800;
  cursor: pointer;
  color: burlywood;
}

.list {
  border: 1px soild red;
}
