body {
  background-color: black;
  color: aliceblue;
}

.container {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  background-color: rgb(48, 46, 46, 0.815);
  border-radius: 20px;
}
#image {
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 500px red;
}

.img-div {
  /* border: 2px solid blue; */
  text-align: center;
}
.heading {
  font-family: "Lobster", cursive;
}
#title {
  text-align: center;
  font-size: 90px;
}
#span1 {
  color: red;
}

#info {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  text-align: justify;
  font-size: 1.5rem;
}

#marvel {
  color: red;
  /* width: 80%;
  margin: auto; */
  margin-left: 10%;
}
ul {
  width: 80%;
  margin: auto;
}

li {
  font-size: 24px;
  line-height: 3rem;
}

#footer {
  /* border: 1px solid red; */
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}
#link {
  color: white;
  border: 2px solid darkorange;
  padding: 1rem;
  border-radius: 10px;
  background-color: black;
  text-decoration: none;
}
#link:hover {
  color: red;
  background-color: rgb(47, 45, 45);
}
